.ProjectDisplayWrapper{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 2em 8vw;
    margin-bottom: 2em;
}

.ProjectDisplayWrapper img{
    border-radius: 20px;
}

.ProjectDisplayWrapper h3{
    font-size: 2.5em;
    margin: 0;
}

.ProjectDisplayWrapper p{
    width: 70%;
    font-size: 1.2em;
    padding: 1em;
    color: #4E525A;
}

.ProjectDetailsWrapper{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 1em;
}

.ProjectButtons{
    width: 50%;
    text-align: right;
}

.ProjectButtons button{
    padding: 1em 2em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #6e06f2;
    color: white;
    cursor: pointer;
}

.ProjectButtons a{
    cursor: pointer;
}


@media (400px <= width <= 800px){

    .ProjectDisplayWrapper{
        display: flex;
        text-align: left;
        flex-direction: column;
        padding: 2em 5vw;
        margin-bottom: 2em;
    }

    .ProjectDisplayWrapper h3{
        font-size: 7vw;
        margin: 0;
    }

    .ProjectDisplayWrapper p{
        width: 100%;
        font-size: 4vw;
        color: #4E525A;
        padding: 0;
        margin: .5em 0;
    }

    .ProjectDetailsWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
    }

    .ProjectButtons{
        width: 100%;
        text-align: left;
    }

    .ProjectButtons button{
        padding: 1em 2em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #6e06f2;
        font-size: 3.5vw;
        color: white;
        width: 100%;
        cursor: pointer;
    }

}