.ProjectHeaderSectionWrapper{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 4em 8vw;
}

.ProjectHeaderSectionWrapper h1{
    font-size: 5em;
    margin: 0;
    color: #24241f;
}

.ProjectHeaderSectionWrapper h1 span{
    color: #6E06F2;
}

.ProjectHeaderSectionWrapper p{
    font-size: 1.5em;
    color: #4E525A;
    border-left: .5em solid #6E06F2;
    padding-left: 1em;
}

@media (400px <= width <= 800px){
    .ProjectHeaderSectionWrapper{
        display: flex;
        text-align: left;
        flex-direction: column;
        padding: 2em 5vw;
    }

    .ProjectHeaderSectionWrapper h1{
        font-size: 13vw;
        margin: 0;
        line-height: 1em;
        margin-bottom: .5em;
        color: #24241f;
    }

    .ProjectHeaderSectionWrapper p{
    font-size: 4vw;
    color: #4E525A;
    border-left: none;
    padding-left: 0;
}
}
