@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

:root{
    --white: #ffffff;
    --black: #000000;

    --background-color: #f8f8f8;
    
    --primary-color: #FFFFFF;
    --accent-color: #0000FF;
    --highlight-color: #FF8097;
    --action-button-color: #87ceeb;
    --action-button-text-color: #FFFFFF;
    --heading-color: #000000;

    --text-color-paragraph: #3f3f3f;

    --Projects-card-backgroundcolor: #C5C5C5;

    --footer-background: #C5C5C5;

    --action-button-boder: 2px solid var(--black);


    --login-card-bgcolor: #87ceeb;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

body{
    background: var(--background-color);
}

/* Global CSS Starts */

.section--header-title{
    margin-top: 30px;
    font-size: 38px;
    margin-bottom: 40px;
    font-weight: 800;
    color: var(--black);
    text-align: center;
}

/* Global CSS Ends */

/* CSS for Navigation Bar Starts */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
}

.Brand--logo img{
    height: 100px;
}

.Nav-Links{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.Nav-Links a{
    padding: 5px 10px;
    text-decoration: none;
    font-size: 22px;
    color: var(--heading-color);
    scale: 1;
    transition: 0.3s;
}

.Nav-Links a:hover{
    scale: 1.2;
    background: var(--action-button-color);
    color: var(--white);
    border-radius: 5px;
}


.Nav-Button button{
    outline: none;
    font-size: 15px;
    border: var(--action-button-boder);
    border-radius: 20px;
    padding: 5px 30px;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

.Nav-Button button:hover{
    scale: 1.3;
    background: var(--action-button-color);
    color: var(--white);
    border-radius: 10px;
}

/* CSS for Navigation Bar Ends */

/* CSS for signup Card Starts */

.signup{
    padding: 4% 5%;
}

.signup--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.signup--card-wrapper{
    padding: 30px 40px;
    border-radius: 30px;
    background: var(--footer-background);
    transition: 1s;
}

.signup--card-wrapper:hover{
    box-shadow: 10px 10px 20px 1px;
}

.signup--card-inputs{
    display: flex;
    flex-direction: column;
}

.signup--card-inputs input{
    padding: 10px;
    margin-block: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    border: var(--action-button-boder);
    scale: 1;
    transition: 0.5s;
}

.signup--card-inputs input:hover{
    scale: 1.06;
}

.signup--card-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.signup--card-buttons button{
    padding: 10px 80px;
    border: var(--action-button-boder);
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background: var(--action-button-color);
    scale: 1;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.signup--card-buttons button:hover{
    background-color: var(--highlight-color);
    scale: 1.2;
    color: var(--white);
}

.signup--card-buttons h3{
    margin-top: 10px;
    margin-bottom: 5px;
}


/* CSS for signup Card Ends */

/* CSS for Footer Section Starts */

.footer{
    display: flex;
    justify-content: space-evenly;
    background: var(--footer-background);
    padding: 4% 1%;
}

.footerlogo span{
    font-size: 48px;
    font-weight: 800;
}

.footerlogo p{
    margin: 10px;
}

.footerpages{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerpages a{
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

.footerpages a:hover{
    scale: 1.2;
}

.footersocials a{
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

.footersocials a:hover{
    scale: 1.2;
}

.footersocials{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* CSS for Footer Section Ends */