.AboutMyStackSectionWrapper{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 4em 8vw;
}

.AboutMyStackSectionWrapper h3{
    font-size: 4em;
    margin: 0;
    color: #24241f;
}

.AboutMyStackSectionWrapper h3 span{
    color: #6E06F2;
}

.AboutMyStackSectionWrapper p{
    font-size: 1.2em;
    color: #4E525A;

    margin-top: 1em;
}

.MainStackSectionWrapper{
    display: flex;
    gap: 3em;
    padding: 0 2em;
    align-items: flex-start;
    margin-bottom: 4em;
    border-left: .2em solid #24241f;
}

.MainStackSectionWrapper:hover{
   border-left: .3em solid #6E06F2; 
}


.StackSeries h2{
    font-size: 4em;
    color: #24241f;
}

.StackDetailWrapper h3{
    font-size: 3.5em;
}

#StackType{
    color: #6E06F2;
}