.MainNavWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 8vw;
    font-size: 18px;
}

.Brand{
    color: #24262F;
}

.Brand a{
    color: #24262F;
    cursor: pointer;
    text-decoration: none;
}


.NavWrapper{
    display: flex;
    gap: 2em;
}
.NavWrapper a{
    text-decoration: none;
    color: #4E525A;
    font-weight: 600;
}

.ContactWrapper button{
    border-radius: 70%;
    padding: 1em;
    border: none;
    outline: none;
    background-color: #24262F;
}


#Active{
    color: #6E06F2;
}

#notActive{
    color: #4E525A;
}