.MainFooterWrapper{
    display: flex;
    flex-direction: column;
    padding: 1em 8vw;
    gap: 5em;
    margin-bottom: 3em;
    margin-top: 3em;
}

.MainFooterTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MainFooterDown{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.FooterTop2 img{
    width: 2em;
    margin-inline: 1em;
}

.FooterDown2{
    display: flex;
    flex-direction: column;
}

.FooterDown2 p{
    text-align: right;
}

.FooterTop1 a{
    text-decoration: none;
    color: #4E525A;
    margin-right: 2em;
    font-size: 1.25em;
    font-weight: 400;
}

.FooterDown1-info{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
    color: #4E525A;
}

.FooterDown1-Buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}

.FooterDown1-Buttons button{
    border-radius: 5px;
    padding: 1em 1.5em;
    font: 1.2em;
    border: none;
    outline: none;
    cursor: pointer;
}

#Getin{
    background-color: #6E06F2;
    color: white;
}

#Projects{
    color: #24262F;
    border: 1px solid #24262f;
    background-color: transparent;
}

#Active{
    color: #6E06F2;
}

#notActive{
    color: #4E525A;
}

@media (400px <= width <= 800px){


    .MainFooterWrapper{
        display: flex;
        flex-direction: column;
        padding: 1em 5vw;
        gap: 5em;
        margin-bottom: 3em;
        margin-top: 3em;
    }

    .MainFooterTop{
        flex-direction: column;
        align-items: center;
    }

    .FooterTop1{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .FooterTop1 a{
        text-decoration: none;
        color: #4E525A;
        font-size: 1.25em;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .MainFooterDown{
        flex-direction: column;
        align-items: center;
    }

    .FooterDown2{
        margin-top: 2em;
    }

    .FooterDown2 p{
        text-align: center;
    }

    .FooterDown1-info{
        align-items: center;
        text-align: center;
    }

    .FooterDown1{
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}